[submodule "HOME/.vim/bundle/a.vim"]
	path = HOME/.vim/bundle/a.vim
	url = https://github.com/sheer-rey/a.vim.git
	branch = master
[submodule "HOME/.vim/bundle/minibufexpl.vim"]
	path = HOME/.vim/bundle/minibufexpl.vim
	url = https://github.com/sheer-rey/minibufexpl.vim.git
	branch = master
[submodule "HOME/.vim/bundle/nerdtree-git-plugin"]
	path = HOME/.vim/bundle/nerdtree-git-plugin
	url = https://github.com/sheer-rey/nerdtree-git-plugin.git
	branch = master
[submodule "HOME/.vim/bundle/rainbow"]
	path = HOME/.vim/bundle/rainbow
	url = https://github.com/sheer-rey/rainbow.git
	branch = master
[submodule "HOME/.vim/bundle/taglist.vim"]
	path = HOME/.vim/bundle/taglist.vim
	url = https://github.com/sheer-rey/taglist.vim.git
	branch = master
[submodule "HOME/.vim/bundle/lightline.vim"]
	path = HOME/.vim/bundle/lightline.vim
	url = https://github.com/sheer-rey/lightline.vim.git
	branch = master
[submodule "HOME/.vim/bundle/vim-gitbranch"]
	path = HOME/.vim/bundle/vim-gitbranch
	url = https://github.com/sheer-rey/vim-gitbranch.git
	branch = master
[submodule "HOME/.vim/bundle/ack.vim"]
	path = HOME/.vim/bundle/ack.vim
	url = https://github.com/sheer-rey/ack.vim.git
	branch = master
[submodule "HOME/.vim/bundle/vim-gitgutter"]
	path = HOME/.vim/bundle/vim-gitgutter
	url = https://github.com/sheer-rey/vim-gitgutter.git
	branch = main
[submodule "HOME/.vim/bundle/nerdtree"]
	path = HOME/.vim/bundle/nerdtree
	url = https://github.com/sheer-rey/nerdtree.git
	branch = master
[submodule "HOME/.vim/bundle/vim-commentary"]
	path = HOME/.vim/bundle/vim-commentary
	url = https://github.com/sheer-rey/vim-commentary.git
	branch = master
[submodule "HOME/.vim/bundle/auto-pairs"]
	path = HOME/.vim/bundle/auto-pairs
	url = https://github.com/sheer-rey/auto-pairs.git
	branch = master
[submodule "HOME/.vim/bundle/leaderf"]
	path = HOME/.vim/bundle/leaderf
	url = https://github.com/sheer-rey/leaderF.git
	branch = master
[submodule "HOME/.vim/bundle/OmniCppComplete"]
	path = HOME/.vim/bundle/OmniCppComplete
	url = https://github.com/sheer-rey/OmniCppComplete.git
	branch = master
[submodule "HOME/.vim/bundle/vim-polyglot"]
	path = HOME/.vim/bundle/vim-polyglot
	url = https://github.com/sheer-rey/vim-polyglot.git
	branch = master
[submodule "HOME/.vim/bundle/indentline"]
	path = HOME/.vim/bundle/indentline
	url = https://github.com/sheer-rey/indentLine.git
	branch = master
[submodule "HOME/.vim/bundle/vim-auto-popmenu"]
	path = HOME/.vim/bundle/vim-auto-popmenu
	url = https://github.com/sheer-rey/vim-auto-popmenu.git
	branch = master
[submodule "HOME/.vim/bundle/vim-dict"]
	path = HOME/.vim/bundle/vim-dict
	url = https://github.com/sheer-rey/vim-dict.git
	branch = master
[submodule "HOME/.vim/bundle/xterm-color-table.vim"]
	path = HOME/.vim/bundle/xterm-color-table.vim
	url = https://github.com/sheer-rey/xterm-color-table.vim.git
	branch = master
[submodule "HOME/.vim/bundle/dracula.vim"]
	path = HOME/.vim/bundle/dracula.vim
	url = https://github.com/sheer-rey/dracula.vim.git
[submodule "HOME/.vim/bundle/vim-cppman"]
	path = HOME/.vim/bundle/vim-cppman
	url = https://github.com/sheer-rey/vim-cppman.git
	branch = master
[submodule "HOME/.vim/bundle/vim-plugin-AnsiEsc"]
	path = HOME/.vim/bundle/vim-plugin-AnsiEsc
	url = https://github.com/sheer-rey/vim-plugin-AnsiEsc.git
	branch = master
[submodule "HOME/.vim/bundle/vim-gutentags"]
	path = HOME/.vim/bundle/vim-gutentags
	url = https://github.com/sheer-rey/vim-gutentags.git
[submodule "HOME/.vim/bundle/ctrlp.vim"]
	path = HOME/.vim/bundle/ctrlp.vim
	url = https://github.com/sheer-rey/ctrlp.vim.git
