[user]
    name = sheer-rey
    email = sheer.rey@gmail.com

[alias]
    lg = log --date-order --graph --pretty=format:'%C(yellow)%h%C(reset) - %C(dim white)%an%C(reset)%C(cyan)(%ar)%C(reset) %s %C(green)%d%C(reset)'
    spush = push --recurse-submodules=on-demand
    supdate = submodule update --remote --merge

[commit]
    template = ~/.gitmessage

[core]
    excludesfile = ~/.gitignore
    editor = vim
    pager = less -S

[color]
    ui = auto

